.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  overflow: auto;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  position: relative;
  padding: 32px;
  width: 80%;
  height: 80vh;
  background-color: #fff;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
  overscroll-behavior: contain;
}

.modal.show .modal-content {
  transform: translateY(0);
}

.modal-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
